{% extends "master.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
      <div class="col-md-9 col-lg-6 col-xl-5" style="width:60%; height:100%; float:left;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5" style="width:40%; height:100%; margin-top:10%; float:right;">
        <div style="font-family: system-ui, sans-serif;">
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div></div></div></section>
{% endblock %}