{% extends "master.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
      <div class="col-md-9 col-lg-6 col-xl-5" style="width:60%; height:100%; float:left;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5" style="width:40%; height:100%; margin-top:10%; float:right;">
        <div style="font-family: system-ui, sans-serif;">
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
    </div></div></div></section>
{% endblock %}