{% extends 'master.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<section class="vh-100">
      <div class="container-fluid h-custom">
        <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
          <div class="col-md-9 col-lg-6 col-xl-5" style="width:60%; height:100%; float:left;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5" style="width:40%; height:100%; margin-top:10%; float:right;">
            <div style="font-family: system-ui, sans-serif;">
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
      </div></div></div></section>
{% endblock %}