{% extends 'master.html' %}

{% block title %}Currency{% endblock %}

{% block content %}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  


<div class="container mt-3">
    <form action="{% url 'prefrences' %}" method="post">
        {% csrf_token %}
    <div class="col-sm-5">
        <label for="Currency">Choose a Currency:</label>
        <select class="form-select" name="Currency" id="Currency">
        {% if user_pref.currency %}
            <option name="Currency" selected value="{{user_pref.currency}}">{{user_pref.currency}}</option>
        {% endif %}
        
        
            {% for cur,value in c %}
        <option value="{{cur}} - {{value}}">{{cur}} - {{value}}</option>
        <br>
        {% endfor %}
        </select>
        <br>
        <div class="col-sm-1">
            <button class="btn btn-dark">Submit </button>
          </div>
      </div>
    </form>
    </div>
</div>

<!-- <div>
    <h4 style ="position:absolute; left:80px; top:80px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">My Favorites</h4>
        <div>
        <a href="add_link" class="rectangle">
                            +
                <br>
                Your shortlisted properties</a>
        </div>
    </div> -->

<!-- <div> 
    <h4 style ="position:absolute; left:80px; top:80px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">My Favorites</h4>
     
    <a href="add_link" class="container_box">
        <a href="add_link" class="content_box">
        Your shortlisted properties
        </a>
    </a>
</div> -->



{% endblock %}