.marq{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
  }

.back_details{
  /* text-align: center; */
  background-color: #ffffff;
  width: 100%;
  position: relative;
  top: 50%;
  max-width: 37%;
  padding: inherit;
  padding-top: 1px;
  padding-bottom: 14px;
  border-radius: 12px;
  padding-left: 2%;
  /* margin-top: 40%; */
  margin-left: 13%;
}

.info_details{
  /* text-align: center; */
  background-color: #ffffff;
  width: 100%;
  position: relative;
  top: 50%;
  max-width: 50%;
  padding: inherit;
  padding-top: 1px;
  padding-bottom: 14px;
  border-radius: 12px;
}

.details_map{
  text-align: center;
  width: 100%;
  position: relative;
  top: 50%;
  max-width: 50%;
}

.label_house{
  position: relative;
  float: left;
  margin-left: 10px;
  width:75%;
}

.val{
  position: relative;
  /* float: right; */
  margin-right: 10px;
}

.graph{
  position: relative;
  top: 50%;
  max-width: 50%;
  left: 10%;
}


.house_main{    
  overflow: visible;
  position: relative;
  top: 12%;
  left: 18%;
  margin-bottom: 1%;
  }

  .gradient-background {
    background: linear-gradient(60deg, rgb(1 127 164 / 69%), rgb(241 221 221 / 45%));
    height: 100%;
    background-repeat: no-repeat;
    width: 100vw;
  }