body {
    font-family: verdana;
  }

.back {
    width: 100%;
    opacity: 0.5;
    
    
  }

  .gradient-background {
    /*background: linear-gradient(60deg, rgba(1 127 164), rgba(241, 240, 221, 0));*/
    background: radial-gradient(401px at 50.6% -0.3%, rgba(255, 255, 255, 0.31) 1.2%, rgb(36, 212, 219) 100.2%);
    height: 100vh;
    width: 100vw;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #212529;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.box-wrapper {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
}


#box {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(19, 20, 19);
  position: relative;
  float: left;
}

#img_data{
  height: 150px;
}


.panel-footer{
  position: absolute;
  bottom: 0; 
	background-color: #222;
  color: whitesmoke;
	width: 100%;
  text-align: center;
}
.panel-footer div.row{
	/* margin-bottom: 25px; */
  color: whitesmoke;
  left: 50%;
}

.house-card {
  margin-bottom: 5px;
}