body {
    font-family: verdana;
  }

.back {
    width: 100%;
    opacity: 0.5;
    
    
  }

  .gradient-background {
    background: linear-gradient(60deg, #c4268657 0, #87bce580 33%, #e6df6863 66%, #ff5b0069 100%);
    height: 100vh;
    width: 100vw;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #c7f6fb;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.box-wrapper {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
}


#box {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(19, 20, 19);
  position: relative;
  float: left;
}

#img_data{
  height: 150px;
}