{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<script>
  function sub(){
    alert(" Nice ");
}
</script>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

{% block styles %}
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
{% endblock %}

<body class="page_background" onload="initMap();">

<header class="header">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom: 0%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="position: absolute; font-family: system-ui, sans-serif; font-weight: 600;">RTInvest</a>

      {% if user.is_authenticated %}
      <div class="container">
        <div style="font-family: system-ui, sans-serif;">
        <ul class="navbar-nav" style="margin-left: 65px;">
          <li class="nav-item">
            <a class="nav-link link-light" href="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/mortgage">MORTGAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/test3">HOME ESTIMATE</a>
          </li>
        </ul>
        </div>
      </div>
        <div style="width: 20%; float: right; left: 5%; position: relative;">
          <li class="dropdown">
            <a class="glyphicon glyphicon-user" data-toggle="dropdown" href="/" style="color: white;"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class=" active">
                <div style="font-family: system-ui, sans-serif;">
                <p style="float: left; margin: 2%; position: relative; left: 26%;">
                  Hi {{ user.username }}!
                </p> </div> </li>
              <li>
                <a href="/prefrence">
                  <span class="glyphicon glyphicon-user"></span> USER PREFERENCES</a>
              </li>
              <li>
                <a href="/help">
                  <span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
              </li>
              <li>
                <a href="/about">
                  <span class="glyphicon glyphicon-info-sign"></span> About</a>
              </li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>
          </li>
        </div>
      </div>
      </div>



      {% else %}
      <!-- <div style="margin-left: 80%; float: right; text-align: right;">
        <li class="dropdown">
          <a data-toggle="dropdown" href="/main">More<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="">
              <a href="/help">
                <span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
            </li>
            <li>
              <a href="/about">
                <span class="glyphicon glyphicon-info-sign"></span> About</a>
            </li>
            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </li></div> -->
          <div style="margin-left: 70%; float: right; text-align: right;">
              <a href="{% url 'login' %}" data-role="button">
                  <span style="font-family: system-ui, sans-serif; font-weight: 400; color:aliceblue"><span class="glyphicon glyphicon-log-in"></span>  Login</span></span>
              </a> &nbsp;&nbsp;&nbsp;
              <a href="{% url 'signup' %}" data-role="button" margin-left="20px">
                <span style="font-family: system-ui, sans-serif; font-weight: 400; color:aliceblue"><span class="glyphicon glyphicon-user"></span>  Sign Up</span></span>
              </a>
          </div>
      {% endif %}
  </nav>
</header>


  <div class="anchor">
    {% block content %}
    {% endblock %}
  </div>


  <br>
  <footer class="panel-footer">
    <h3 class="footer">RTInvest © Copyright 2023</h3>
  </footer>
  
</body>

<script src="{% static 'app.js' %}"></script>
<script src="{% static 'mortgage.js' %}"></script>
<script src="{% static 'house_details.js' %}"></script>
</html>
