{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<script>
  function sub(){
    alert(" Nice ");
}
</script>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body class="gradient-background" onload="test()">

<header class="header">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="position: absolute;">RTInvest</a>

      {% if user.is_authenticated %}
      <div class="container">
        <ul class="navbar-nav" style="margin-left: 65px;">
          <li class="nav-item">
            <a class="nav-link link-light" href="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/mortgage">MORTGAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/test3">HOME ESTIMATE</a>
          </li>
        </ul>
      </div>
      <div style="width: 20%; float: right">
        <li class="dropdown">
          <a data-toggle="dropdown" href="/" style="color: white;">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class=" active">
              <p style="float: left; margin: 2%; position: relative; left: 26%;">
                Hi {{ user.username }}!
              </p></li>
            <li>
              <a href="/prefrence">
                <span class="glyphicon glyphicon-home"></span> USER PREFERENCES</a>
            </li>
            <li>
              <a href="/help">
                <span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
            </li>
            <li>
              <a href="/about">
                <span class="glyphicon glyphicon-info-sign"></span> About</a>
            </li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
          </ul>
        </li></div>


      {% else %}
      <div style="margin-left: 80%; float: right; text-align: right;">
        <li class="dropdown">
          <a data-toggle="dropdown" href="/main">More<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="">
              <a href="/help">
                <span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
            </li>
            <li>
              <a href="/about">
                <span class="glyphicon glyphicon-info-sign"></span> About</a>
            </li>
            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </li></div>
      {% endif %}
    </div>
  </nav>
</header>

  <div class="anchor">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="panel-footer">
    <h3 class="footer">Investment made Simple!</h3>
  </footer>

  
</body>
<script src="{% static 'app.js' %}"></script>
</html>
