{% extends 'master.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div style="position: relative; margin-top: 8%; left: 0%;">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card"> 
  <h4>Log In</h4>
  <form method="post">
    {% csrf_token %}
    <div class="justify-content-center">
      <b>{{ form.username.label }}</b>
      <p>
      {{ form.username }}</p>
      {{ form.password.label}}
      <p>{{ form.password}}</p>
    </div>
    <p style="margin-top: 7%;">
      <a class="btn btn-outline-primary" href="{% url 'signup' %}">New User</a>
      <button class="btn btn-outline-primary" type="submit">Log In</button>
    </p>
    
  </form></div></div>
</div>

{% endblock %}