{% extends "master.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="col-md-9 col-lg-6 col-xl-5" style="width:60%; height:100%; float:left;">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
        class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-9 col-lg-6 col-xl-5" style="width:40%; height:100%; margin-top:5%; float:right;">
      <div style="font-family: system-ui, sans-serif;">
        <form method="post">
          {% csrf_token %}
          <div class="d-flex justify-content-between">
            <h4 id="form-title" style="font-weight: 600; color:#c75000; font-family: system-ui, sans-serif;">Sign Up as New User</h4>
          </div>
          <div style="color:rgb(0, 87, 100); font-weight: 500;">
            <!-- Username input -->
            <div class="form-outline mb-4">
              {{ form.username.label }}
              <p class="user_card_info">{{ form.username }}</p>
            </div>

            <!-- Email address input -->
            <div class="form-outline mb-4">
              {{ form.email.label }}
              <p class="user_card_info">{{ form.email }}</p>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              {{ form.password1.label }}
              <p class="user_card_info">{{ form.password1 }}</p>
              <p style="    font-size: small;color: black;">Use 8 or more characters with a mix of letters, numbers & symbols</p>
            </div>

            <!-- Password confirmation input -->
            <div class="form-outline mb-4">
              {{ form.password2.label }}
              <p class="user_card_info">{{ form.password2 }}</p>
            </div>
          </div>
            <!-- Submit button for registering new user -->
            <button class="btn btn-success" type="submit" style="font-weight: 600;">Sign Up</button>
          
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}