{% extends 'master.html' %}

{% block title %}Contact US{% endblock %}

{% block content %}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <h1>Contact Us</h1>
  <h3>Prarthana</h3> 
  <h3>Prateeksha</h3> 
  <h3>Sankalp</h3> 
</div>

<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11800.165492683938!2d-71.03787925!3d42.320316299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1679608178866!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}