{% extends "master.html" %}

{% block title %}
  My_Home
{% endblock %}


{% block content %}
<div class="main_b">
<div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fRkRcT8UPA8u_70e8ah3LOHWdt5bkak&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>

    <h1>Real time investment</h1>
    <h3>Home</h3>
    <div class="container">
      <div class="home_back">
        Hi {{ user.username }}!
        <div><button class="btn btn-dark submit" onclick="sub();return false;">
          Check
        </button></div>

        {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <!-- <button class="btn btn-dark" onclick="location.href='/test'">Click To Execute Script</button> -->
        {% else %}
        <p>Did you Login?</p>
        {% endif %}

  <div id="pac-container">
    <input id="pac-input" type="text" placeholder="Enter a location" />
  </div>
  <div id="map" style="height: 300px; width: 500px;"></div>
  <!-- <div style="height: 500px; width: 500px;">
    <div id="map-element" style="height: 100%; width: 100%;">map click</div> -->
    <!-- prettier-ignore -->
    <!-- <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
      ({key: "AIzaSyB-fRkRcT8UPA8u_70e8ah3LOHWdt5bkak", v: "weekly"});
      var mapElement = document.getElementById('map-element');

      mapElement.addEventListener('load', function() {
        setLocation();
      });
    </script>
  </div> -->
</div></div>
</div></div>
  
{% endblock %}
