{% extends "master.html" %}

{% block title %}
  My_Home
{% endblock %}


{% block content %}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fRkRcT8UPA8u_70e8ah3LOHWdt5bkak"></script>

  <h1>Real time investment</h1>
  <h3>Home</h3>
  Hi {{ user.username }}!
  <button onclick ="sub();return false;">Check </button>

  {% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <button onclick="location.href='/test'">Click To Execute Script</button>
  {% else %}
  <p>Did you Login?</p>
  {% endif %}

  <div style="height: 50%; width: 50%;">
    <div id="map" style="height: 100%; width: 100%;">map click</div>
  </div>
  <script>
    var mapElement = document.getElementById('map');

    mapElement.addEventListener('click', function() {
      setLocation();
    });
  </script>
</div></div>

  
{% endblock %}