{% extends 'master.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <h4>Details</h4>
  <div> {{ y }}</div>
  <div>

    <img id="img_data" src= "{{house.link}}" > 
  city:  {{ house.city }}
  status:  {{ house.status}}
  year_built:  {{ house.year_built}}
  bath:  {{ house.bath}}
  beds:  {{ house.beds}}
  stories:  {{ house.stories}}
  list_price:  {{ house.list_price}}
  unit:  {{ house.unit }}
  postal_code:  {{ house.postal_code }}
  street_name:  {{ house.street_name }} 

  <p>Info of properties</p>
  First_Mtg_LTV= {{ calc.First_Mtg_LTV }} <br>
First_Mtg_LTPP = {{ calc.First_Mtg_LTPP }}<br>
Second_Mtg_LTV = {{ calc.Second_Mtg_LTV }}<br>
Second_Mtg_LTPP = {{ calc.Second_Mtg_LTPP }}<br>
CapRate_on_PP = {{ calc.CapRate_on_PP}}<br>
CapRate_on_FMV = {{ calc.CapRate_on_FMV }}<br>
Average_Rent = {{ calc.Average_Rent }}<br>
GRM = {{ calc.GRM }}<br>
DCR = {{ calc.DCR }}<br>
Cash_On_Cash_ROI = {{ calc.Cash_On_Cash_ROI}}<br>
Equity_ROI = {{ calc.Equity_ROI}}<br>
Appreciation_ROI = {{ calc.Appreciation_ROI}}<br>
Total_ROI = {{ calc.Total_ROI }}<br>
Forced_App_ROI = {{ calc.Forced_App_ROI}}<br>
Expense_to_income_ratio = {{ calc.Expense_to_income_ratio}}<br>
</div>
</div>

{% endblock %}