
{% extends "master.html" %}

{% block title %}
  Main

  
{% endblock %}


{% block content %}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<div class="main">

  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <!--<p>You are not logged in</p>
    <div>
      <a class="btn btn-outline-dark" href="{% url 'login' %}">Log In</a>
      <a class="btn btn-outline-secondary" href="{% url 'signup' %}">Sign up</a>
    </div>-->
  {% endif %}


  <!--<button onclick="myFunction()">Click me!</button>

  <h3>Welcome</h3>-->

</div>
</div>
  
{% endblock %}