
{% extends "master.html" %}

{% block title %}
  Main

  
{% endblock %}


{% block content %}
<div style="position: relative; top: 0%; left: -10%;margin-top: 8%;">
<div class="main" style="    left: 37%; position: relative;">

  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    pref:{{pref}}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <!--<p>You are not logged in</p>
    <div>
      <a class="btn btn-outline-dark" href="{% url 'login' %}">Log In</a>
      <a class="btn btn-outline-secondary" href="{% url 'signup' %}">Sign up</a>
    </div>-->
  {% endif %}


  <!--<button onclick="myFunction()">Click me!</button>
-->
  <h3>Welcome</h3>
  pref:{{pref}}
  <div class="container">
  <div>
    {% if fav %}
    {% for house in fav %}.
    <div>
      <div class="card house-card">
        <div class="card-body" style="width: 100%;">
          <div style="width: 50%; float: left;">
            <a href="{% url 'house_details' house.property_id %}">
            <img id="img_data" src= "{{house.link}}" ></a>
          </div>
          <div style="width: 50%; float: left;">
            <h4>{{ house.street_name }}, {{ house.city }}, {{ house.postal_code }}</h4>
            <span>{{ house.stories }} Story built in {{ house.year_built }}</span>
            <br>
            <span>Unit: {{ house.unit }} | {{ house.beds }}B {{ house.baths }}B</span>
            <br>
            <span>Listed price: ${{ house.list_price}}</span>
            <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    nope
    {% endif %}
  </div>

</div>
</div>
  
{% endblock %}