{% extends "master.html" %}

{% block title %}
  testing
{% endblock %}


{% block content %}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<div class="main">
  <!-- <h1>Real time investment</h1> -->
  <!-- <h3>Mortgage</h3> -->
  
 <br><br>


  {% if flag == "False" %}
    
    <form action="" method="POST">
        {% csrf_token %}
        <h4>Enter pincode</h4>
        <input type="text" name="pincode">
        <button >Submit </button>
      </form>

  {% else %}

    <br><br>
    <h2> Retrieved data</h2>

    {% for house in r %}

    <div class="gallery">
      <a target="_blank" src={{house.link}}>
        <img class=gallery_img src={{house.link}} alt='House photo'>
      </a>
      <div class="desc">
          <!-- City:  {{ house.city }} -->
          <!-- Status:  {{ house.status}} -->
          <!-- Year built:  {{ house.year_built}} -->
          Bath:  {{ house.bath}} 
          Beds:  {{ house.beds}}
          Stories:  {{ house.stories}} <br>
          Price:  {{ house.list_price}}
          <!-- Number of units:  {{ house.unit }} -->
          <!-- Postal code:  {{ house.postal_code }} -->
          <!-- Street name:  {{ house.street_name }}  -->
        </div>
      </div>
<br><br>
    {% endfor %}

<br>

  {% endif %}
  

</div>
</div>
  
{% endblock %}