{% extends "master.html" %}

{% block title %}
  testing
{% endblock %}


{% block content %}
<div style="position: relative; top: 0%;left: 0%;">
<div class="main">
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fRkRcT8UPA8u_70e8ah3LOHWdt5bkak&callback=initMapHomeEstimate&libraries=places&v=weekly"
  defer
></script>
  <!-- <h1>Real time investment</h1> -->
  <!-- <h3>Mortgage</h3> -->
  
 <br><br>


  {% if flag == "False" %}
  <div class="container mort_back">
    <div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row"> 
          <div class="col-sm-8">
            <label for="state">Enter pincode:</label>
            <input type="text" name="pincode" class="form-control" placeholder="e.g: 02125">
          </div>


          <div class="col-sm-5">
            <label for="First_Mtg_Interest_Rate">Enter a First_Mtg_Interest_Rate:</label>
            <!-- <select class="form-select" name="First_Mtg_Interest_Rate" id="First_Mtg_Interest_Rate"> -->
              {% if details.First_Mtg_Interest_Rate %}
              <input name="First_Mtg_Interest_Rate" value="{{details.First_Mtg_Interest_Rate}}">
              {% else %}
            <input name="First_Mtg_Interest_Rate">
            {% endif %}
            </select>
          </div>

          <div class="col-sm-5">
            <label for="Average_rent_per_unit">Choose a Average Rent</label>
            <div>
            {% if details.Average_rent_per_unit %}
            <!-- <option name="rent" selected value="{{details.Average_rent_per_unit}}">{{details.Average_rent_per_unit}}</option> -->
            {% endif %}
            
              {{ rent.rent }}
            </div>
            </select>
          </div>



          <div class="submit">
            <label></label>
            <button class="btn btn-dark" >Submit</button>
          </div>
        </div>
        <!-- <h4>Enter pincode</h4>
        <input type="text" name="pincode">
        <button >Submit </button> -->
      </form>
    </div></div>
  {% else %}
    <div class="container mort_result_back">
      <div class="split left" >
      <form action="" method="POST">
        {% csrf_token %}
        <div class="container centered" style="z-index: 3; height: 100px; top: 10%; margin-top: 10%;">
          <div class="d-flex justify-content-center" style="height: inherit;">
            <div id="pac-container" class="searchbar" style="position: absolute; top:2%;">
                <input class="search_input" name="address" id="pac-input" type="text" placeholder="Enter a location..." />
                <a class="search_icon">
                  <i class="glyphicon glyphicon-search"></i>
                </a>
            </div>
          </div>
        </div>

      <div class="centered" style="position:absolute; top:50%;"> 
      <div id="map-home-estimate" style="min-height: 600px; width: 700px;margin-top: 30%;position: relative;"></div>
      </div>
      </form>
    </div>
    <div class="split right">
      <div style="position: fixed; top: 0; margin-top: 62px; background: white; z-index: 1; width: 100%; padding-top: 20px;">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="d-inline-flex p-3" style="width: 50%;">
        <div class="flex-fill" style="display: flex; width: 40%; margin: 0 2%;">
          <div style="flex: 1; background-color: #E5E4E2; text-align: center;">
            <label for="First_Mtg_Interest_Rate">Set Interest Rate:</label>
          </div>
          <div style="flex: 1; background: #085e72;">
                {% if details.First_Mtg_Interest_Rate %}
                <input name="First_Mtg_Interest_Rate" value="{{details.First_Mtg_Interest_Rate}}" 
                style=" border: 0; outline: 0; background: #085e72; color: white; width: 100%; text-align: center;">
                {% else %}
              <input name="First_Mtg_Interest_Rate">
              {% endif %}
          </div>
        </div>
        <div class="flex-fill" style="display: flex; width: 40%; margin: 0 2%;">
          <div style="flex: 1; background-color: #E5E4E2; text-align: center;">
            <label for="Average_rent_per_unit">Average Rent:</label>
          </div>
          <div style="flex: 1; background: #085e72;">
            <div style="border: 0; outline: 0; background: #085e72; color: rgb(0, 0, 0); width: 100%; text-align: center;">
          
              {{ rent.rent }}
            </div>
          </div>
        </div>
        <input type="hidden" name="pincode" value="{{ pin }}">
        <div class="submit flex-fill" style="width: 20%; margin: 0 2%;">
          <label></label>
          <button class="btn btn-dark" >Submit</button>
        </div>
      </div>
        </form>
        <!-- <div class="flex-fill" style="width: 30%; margin: 0 2%;">
          <button style="background: #085e72; color: white;">
            <label>Set your default Preferences</label>
          </button>
        </div> -->

      <div style="left: 5%; position: relative;">{{len}} Properties found!</div>
      <hr>
    </div>
      
      <div class="centered_right" style="margin-top: 30%; width: 100%;">
    <!-- <h2 style="left: 5%; position: relative;">Available Properties- {{len}}</h2> -->
    {% if z == "No houses found" %}
    <p>{{z}}</p>

    {% else %}
    
    
    {% for house in r %}

    <div class="card house-card">
      <div class="card-body" style="width: 100%;">
        <a class="link-to-prop-details" href="{% url 'house_details' house.property_id %}">
        <div style="width: 50%; float: left;">
          
          <img id="img_data" src= "{{house.link}}" >
        </div>
        <div style="width: 50%; float: left;">
          <h4>{{ house.street_name }}, {{ house.city }}, {{ house.postal_code }}</h4>
          <span>{{ house.stories }} Story built in {{ house.year_built }}</span>
          <br>
          <span>Unit: {{ house.unit }} | {{ house.beds }}B {{ house.baths }}B</span>
          <br>
          <span>Listed price: ${{ house.list_price}}</span>
          <br>
          <span>Cashflow/unit/month: ${{ house.cash }}</span> <br>
          <span>Cash On Cash ROI: {{ house.Cash_On_Cash_ROI }}%</span>
          <br>
          <span class="lat-value" value="{{ house.latitude }}"></span>
          <span class="lon-value" value="{{ house.longitude }}"></span>
          <span class="cashflow" value="{{ house.cash }}"></span>
          <span class="coc_roi" value="{{ house.Cash_On_Cash_ROI }}"></span>
          {% if house.bool %}
          <div><span class="glyphicon glyphicon-star" style="color: rgb(255, 255, 0);"></span></div>
          {% endif %}
        </div></a>
      </div>
    </div>
<br><br>
    {% endfor %}
    {% endif %}
      </div></div>
<br>

  {% endif %}
  
    </div>
  </div>
</div>
 
{% endblock %}