{% extends "master.html" %}

{% block title %}
  testing
{% endblock %}


{% block content %}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <div class="main">
    <h1>Real time investment</h1>
    <h3>test2</h3>
    
    <input type="text" id="myInput" onkeyup="myFunction2()" placeholder="Search for names..">

    <table id="myTable">
      <tr class="header">
        <th style="width:60%;">Name</th>
        <th style="width:40%;">Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Berglunds snabbkop</td>
        <td>Sweden</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Koniglich Essen</td>
        <td>Germany</td>
      </tr>
    </table>
  </div>
</div>

  
{% endblock %}