{% extends "master.html" %}

{% block title %}
  testing
{% endblock %}


{% block content %}
<div>
<div class="main" style="position: relative; top: 40%; left: -10%;margin-top: 8%;">
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fRkRcT8UPA8u_70e8ah3LOHWdt5bkak&callback=initMapHomeEstimate&libraries=places&v=weekly"
      defer
    ></script>
  <!-- <div style="position: relative; top: 50%; left: 30%;">
  <h1>Real time investment</h1>
  <h3>Home Estimate</h3>
  </div> -->
  



  {% if flag == "False" %}
  <div class="container est_back">
    <div>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
          <div class="row">           
            <div class="col-sm-3">
              <label for="state">Choose a State:</label>
              <select class="form-select" name="state" id="state">
                  {% for state in s %}
                  <option value={{state}}>{{state}}</option>
                  <br>
                  {% endfor %}
              </select>
            </div>
        <!-- <br><br> -->
        

            <div class="col-sm-3">
              <label for="city">Choose a City:</label>
              <select class="form-select" name="city" id="city">
              {% for city in c %}
              <option value={{city}}>{{city}}</option>
              <br>
              {% endfor %}
              </select>
            </div>
        <!-- <br><br> -->

            <div class="col-sm-3">
              <label for="street_name">Choose a Street Name:</label>
              <select class="form-select" name="street_name" id="street_name">
              {% for sn in street_name %}
              <option value={{sn}}>{{sn}}</option>
              <br>
              {% endfor %}
              </select>
            </div>
        <!-- <br><br> -->

            <div class="col-sm-5">
              <label for="First_Mtg_Interest_Rate">Enter a First_Mtg_Interest_Rate:</label>
              <!-- <select class="form-select" name="First_Mtg_Interest_Rate" id="First_Mtg_Interest_Rate"> -->
                {% if details.First_Mtg_Interest_Rate %}
                <input name="First_Mtg_Interest_Rate" value="{{details.First_Mtg_Interest_Rate}}">
                {% else %}
              <input name="First_Mtg_Interest_Rate">
              {% endif %}
              </select>
            </div>

            <div class="col-sm-5">
              <label for="Average_rent_per_unit">Choose a Average</label>
              <div>
              <!-- {% if details.Average_rent_per_unit %}
              <option name="rent" selected value="{{details.Average_rent_per_unit}}">{{details.Average_rent_per_unit}}</option>
              {% endif %} -->
              
                {{ rent }}
              </div>
              </select>
            </div>


            <div class="submit">
              <button class="btn btn-dark">Submit </button>
            </div>
          <!-- </div> -->
        
        </div>
      </form>
    </div>
  </div>
 





  {% else %}
    <!-- <h2 style="left: 35%; position: relative;"> Retrieved data</h2> -->
  <div class="container est_result_back"  style="margin-top: -6%;">
    <div class="split left" >
        <div class="container centered h-100">
          <div class="d-flex justify-content-center h-100">
            <div id="pac-container" class="searchbar" style="position: absolute; top:2%;">
                <input class="search_input" name="address" id="pac-input" type="text" placeholder="Enter a location" />
                <a class="search_icon"><i class="fas fa-search" style='font-size:18px;color:rgb(255, 255, 255)'></i></a>
            </div>
          </div>
        </div>
      <!-- <div class="submit">
        <button class="btn btn-dark">Submit </button>
      </div> -->
      <div class="centered" style="position:absolute; top:50%;"> 
      <div id="map-home-estimate" style="height: 300px; width: 500px;margin-top: 8%;"></div>
      </div>
      <!-- </form> -->
    </div>



      
    <div class="split right">
      <div class="centered_right" >
        {% for house in r %}

        <div class="card house-card">
          <div class="card-body" style="width: 100%;">
            <div style="width: 50%; float: left;">
              <a href="{% url 'house_details' house.property_id %}">
              <img id="img_data" src= "{{house.link}}" ></a>
            </div>
            <div style="width: 50%; float: left;">
              <h4>{{ house.street_name }}, {{ house.city }}, {{ house.postal_code }}</h4>
              <span>{{ house.stories }} Story built in {{ house.year_built }}</span>
              <br>
              <span>Unit: {{ house.unit }} | {{ house.beds }}B {{ house.baths }}B</span>
              <br>
              <span>Listed price: ${{ house.list_price}}</span>
              <br>
              <span class="lat-value" value="{{ house.latitude }}"></span>
              <span class="lon-value" value="{{ house.longitude }}"></span>
              <span class="cashflow" value="{{ house.cash }}"></span>
              
              
                
              </a>
              <!-- <span>Status: {{ house.status}}</span> -->
            </div>
          </div>
        </div>
    
<br><br>
    {% endfor %}
      </div>
    </div>
  </div>

    

<br>

  {% endif %}
  

</div></div>

  
{% endblock %}