.info_details{
  /* text-align: center; */
  background-color: #c85050;
  width: 100%;
  position: relative;
  top: 50%;
  max-width: 30%;
  padding: inherit;
  padding-top: 1px;
  padding-bottom: 14px;
  border-radius: 12px;
  margin-bottom: 1%;
  margin-top: 1%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
}

.gradient-background {
  background: linear-gradient(60deg, rgb(1 127 164 / 69%), rgb(241 221 221 / 45%));
  height: 130rem;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}